.github
.env
.env.example
.eslintrc.json
.gitignore
.stylelintrc.json
.travis.yml

build-container.sh
run-container.sh

DEVELOPMENT.md
README.md
README_CRA.md
VSCODE_CONFIGURATION.md
Dockerfile
LICENSE
static.json

build
styleguide
node_modules