@import "vars";

// Base font size for the deposit component
$base-font-size: 25pt;

// Font scalings
$success-cancel-font-size: 0.7em;
$input-font-size: 40px;
$euro-sign-font-size: 1.5em;
$btn-font-size: 0.8em;
$erase-font-size: 0.8em;
$increment-font-size: 0.8em;

// Colors
$erase-bg-color: #a5a5a5;
$erase-text-color: #000;

.deposit-wrapper {
  font-size: $base-font-size;

  .deposit {
    position: relative;
    display: flex;
    width: 600px;
    height: 500px;
    flex-direction: row;
    flex-wrap: wrap;
    border: none;
    border-radius: 5px;
    box-shadow: $box-shadow;
    overflow: hidden;
  }

  .input-wrapper {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 100px;
    width: calc(2 / 3 * 100%);
    padding: 10px;
    background-color: white;
    border-left: 1px solid #aaa;
    border-top: 1px solid #aaa;
    border-bottom: none;
    border-right: none;
  }

  .input {
    flex-grow: 1;
    height: 100%;
    font-size: $input-font-size;
    border-radius: 10px;
    border: 1px solid #aaa;
    color: black;
    background-color: white;
    text-align: center;
  }

  .input::placeholder {
    font-size: $input-font-size;
  }

  .euro-sign {
    font-size: $euro-sign-font-size;
    margin-left: 10px;
  }

  .btn {
    height: 100px;
    line-height: 100px;
    font-size: $btn-font-size;
    text-align: center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 0;
    background-color: white;
    color: black;
    border-left: 1px solid #aaa;
    border-top: 1px solid #aaa;
    border-bottom: none;
    border-right: none;
  }

  button {
    transition: all 0.05s linear;
  }

  button:active {
    -webkit-box-shadow: inset 0 0 10px #646464;
    box-shadow: inset 0 0 10px #646464;
    transform: scale(0.95);
  }

  .increment {
    font-size: $increment-font-size;
  }

  .left {
    width: 50%;
    display: inline-block;
    font-size: 1em;
  }

  .right {
    width: 50%;
    display: inline-block;
  }

  .erase {
    background-color: $erase-bg-color;
    color: $erase-text-color;
    font-size: $erase-font-size;
    font-weight: bold;
    border: none;
  }

  .number {
    width: calc(100% / 3);
  }

  .success {
    background-color: $success-button-bgcolor;
    color: $success-button-textcolor;
    font-size: $success-cancel-font-size;
    font-weight: bold;
    border: none;
  }

  .cancel {
    background-color: $danger-button-bgcolor;
    color: $danger-button-textcolor;
    font-size: $success-cancel-font-size;
    font-weight: bold;
    border: none;
  }
}
