main {
  flex-grow: 1;
  margin: 16px;
  display: flex;
  flex-direction: column;
  min-height: 0;

  .products-container {
    flex-grow: 1;
    display: flex;
    min-height: 0;
  }

  .terminal-container {
    margin-top: 25px;
  }
}
