@import "vars";
@import "mixins";

$col-gap: 5px;

main {
  margin: 16px;

  .products-container {
    width: 100%;
    display: grid;
    grid-template-columns: calc(240px - #{$col-gap/2}) calc(100% - 240px - #{$col-gap/2}); 
    grid-template-rows: 70vh;
    column-gap: $col-gap;
  }

  .terminal-container {
    margin-top: 25px;
  }
}
